.menu-number {
    display: flex;
    height: 50px;
    width: 270px;
    justify-content: space-between;
    align-content: center;
}
.menu-number-numb {
    padding-left: 5px;
    font-style: oblique;
    font-size: x-large;
}
.menu-number-del {
    color: red;
    font-size: x-large;
}
.addNumber {
    display: flex;
}